html
    head
        title Forum Title Page
        meta(name='description' content='Home page')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/public/style.css')
    body
        div(class="login")
            h1(class="title").border.center Welcome #{user.username}!
            h3 You are logged in!
            form(action='/logout' method='post')
                input(type='submit' value='Log Out')
            form(action='/remove' method='post')
                input(type='submit' value='Delete User')
        div(class="logs") 
            h3 Add a new log:
            div
              form(action='/addLog' method='post' class="newLog")
                input(calss="titleOfNewLog" type='text' placeholder='Title Of New Log' name="title")
                textarea(calss="contentOfNewLog" name="newLog" rows="10" cols="50")
                input(calss="submitNewLog" type='submit' value='Add new log')
            h3 Here are all of your logs:
            each val in logs
                div(class="log")
                   h3(class="logTitle")= val.title
                   p(class="logText")= val.log
                   p(class="date")= val.dateandtime
            
